.menuPrincipal{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.menuItens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.btn_menuItem{
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    width: 200px;
}

.btn_menuPrincipal{
    cursor: pointer;
    width: 30px;
}

.btn_menuPrincipal{



