*{
    margin: 0px;
    padding: 0px;
}

body{
    overflow: hidden;
}

.menuPrincipal{
    position: absolute;
    top: 0px;
    left: 0px; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;    
    width: 240px;
    height: 100vh;
    transition: all .2s;
}

.ocultar{
    left: -210px !important;
    transition: all .2s;
}

.menuItens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    height: 100%;
}

.btn_menuItem{
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    width: 170px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background-color: #888;
    text-align: center;
    color: #fff; 
}

.btn_menuPrincipal{
    cursor: pointer;
    border: none; 
    width: 30px;   
}

.btn_menuPrincipal img{
    width: inherit;
}

.principal{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}

.fprincipal{
    width: 100%;
    height: 100%;
    border: none;
}
