*{
    margin: 0px;
    padding: 0px;
   /* box-sizing: border-box;*/
}
:root{
    --azul-principal:#005288;
    --fundo-janela:#ccc;
}
body{
    overflow: hidden;
}

.menuPrincipal{
    position: absolute;
    top: 0px;
    left: 0px; 
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;    
    width: 240px;
    height: 100vh;
  /*  transition: all .2s;*/
}

.ocultar{
    left: -210px !important;
    transition: all .2s;
}
.menuItens{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background-color: #ccc;
    height: 100%;
}
.btn_menuItem{
    cursor: pointer;
    margin: 5px;
    padding: 5px 15px;
    width: 170px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    background-color: #888;
    text-align: center;
    color: #fff; 
}
.btn_menuPrincipal{
    cursor: pointer;
    border: none; 
    width: 30px;   
}
/*.btn_menuPrincipal img{
    width: inherit;      
}*/
.principal{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    height: 100vh;
}
.fprincipal{
    width: 100%;
    height: 100%;
    border: none;
}

/*--FORMATAÇÃO DE GRIDS----*/
.grid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.tituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--azul-principal);
    color: #fff;
}
.colunaTituloGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dadosGrid{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.linhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
}
.colunaLinhaGrid{
    display: flex;
    justify-content: center;
    align-items: center;
}
/************************/
/*---TOPO DA JANELA-----*/
.topoJanela{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 10px 0px 10px 0px; 
}
.btn_mainoper{
    background-color: var(--azul-principal);
    border-radius: 100px;
    cursor: pointer;
    width: 40px;
}
/************************/
/*---JANELA NOVO-----*/
.popup{
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(0,0,0,0.75);
    position: absolute;    
    top: 0px;
    left: 0px; 
    width: 100%;
    height: 100vh;    
}
.janelaPopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
    
}
.tituloPopup{
    display: flex;
    justify-content:space-between;
    align-items: center;
    color: #fff;
    background-color: var(--azul-principal);
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}
.corpoPopup{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: var(--fundo-janela);
    padding: 5px;
    width: 100%;   
}
.rodapePopup{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    background-color: var(--azul-principal);
    border-radius: 0px 0px 5px 5px; 
    padding: 5px;   
    width: 100%;
    color: #fff;
}
.btn_janelaoper{
    width: 30px;
    cursor: pointer;
}
.btn_comandoPopup{
    background-color: #012d4b;
    border: none;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    text-transform: uppercase;
    cursor: pointer;
}
.campoForm{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    width: inherit;
}
.campoForm input, .campoForm select{
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
    box-sizing: border-box;   
}
.ocultarPopup{
    display: none !important;
}    
/************************/